@model ProjectsListViewModel

<h1>@Model.SelectedTags</h1>
<ul id="projects-list">
	@foreach (var project in Model.Projects)
	{
	<li><div class="project-card">
		<h2>@project.Name</h2>
		<h3>@project.Description</h3>
		<hr>
		<h4>@project.GithubUrl</h4>
		<h4>@project.LiveUrl</h4>
	</div></li>
	}
</ul>
