@using Portfolio.Models
@using System.Linq
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model ProjectsListViewModel

<!-- Home Page. Displays all projects 
	Shows option to filter projects
	by selecting tags -->

@{
	void DisplayProject(Project p)
	{
		<li><div class="project-card">
			<h2>@p.Name</h2>
			<h3>@p.Description</h3>
			<hr>
			<h4>@p.GithubUrl</h4>
			<h4>@p.LiveUrl</h4>
			<h4><ul>
				@foreach(var tag in p.Tags)
				{
				<li>@(tag
							.GetType()
							.GetMember(tag.ToString())
							.First()
							.GetCustomAttribute<DisplayAttribute>()
							.GetName())</li>
				}
			</ul></h4>
		</div></li>
	}
}

<h1>All Projects</h1>
<h3>Featured Projects</h3>
<hr>
<ul id="projects-featured">
	@{foreach (var project in Model.Projects.Where(p => p.Featured))
	{
		DisplayProject(project);
	}}
</ul>

<h3>Other Projects</h3>
<hr>
<ul id="projects-others">
	@{foreach (var project in Model.Projects.Where(p => !p.Featured))
	{
		DisplayProject(project);
	}}
</ul>
